Repository TaumuLu/style-media-toggle: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{json,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "git add"
  ]
}

temp: publish package
  .npmrc
  README.md
  package.json
Due: prettier --write

temp: add lib folder
  .gitignore
  README.md
  lib/index.d.ts
  lib/index.js
Due: prettier --write, eslint --fix

fix: cannot access cssRules
  lib/index.js
  src/index.ts
Due: eslint --fix

fix: catch cssRules
  lib/index.js
  src/index.ts
Due: eslint --fix

feat: add args & fix bug
  .eslintrc.js
  lib/index.d.ts
  lib/index.js
  rollup.config.js
  src/index.ts
Due: eslint --fix

temp: upgrade version
  lib/index.js
  package.json
  tsconfig.json
Due: prettier --write, eslint --fix

feat: add onError optioins
  lib/index.d.ts
  lib/index.js
  src/index.ts
Due: eslint --fix

1.1.1
  package-lock.json
  package.json
Due: prettier --write

fix: watch add update rule
  lib/index.d.ts
  lib/index.js
  src/index.ts
Due: eslint --fix

1.1.2
  package-lock.json
  package.json
Due: prettier --write

temp: remove lib
  .gitignore
  lib/index.d.ts
  lib/index.js
Due: eslint --fix

docs: update readme
  README.md
  test/index.css
Due: prettier --write

docs: update readme api
  README.md
Due: prettier --write

1.1.3
  package-lock.json
  package.json
Due: prettier --write

docs: update keywords & readme
  README.md
  package.json
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

1.1.4
  package-lock.json
  package.json
Due: prettier --write

docs: update links
  README.md
Due: prettier --write

fix: script url
  README.md
Due: prettier --write
